
<div class="background">
  <div class="container" >
    <form #admin="ngForm">
    <h1 style="color:white;">Admin Login</h1><br>
  <i class='fas fa-user-alt' style="font-size: 24px;color: white;"></i>&nbsp;&nbsp;&nbsp;
<mat-form-field style="width: 200px;color: white;">
  <input matInput [(ngModel)]="email" placeholder="enter username" name="email" required>
</mat-form-field><br>
<i class='fas fa-lock' style="font-size: 24px;color: white;"></i>&nbsp;&nbsp;&nbsp;
<mat-form-field style="width: 200px;color: white;">
  <input type="password" matInput [(ngModel)]="password" placeholder="enter password" name="password" required>
</mat-form-field>
<br><br>
<button class="btn" mat-raised-button   [disabled]="admin.invalid" (click)="submit()">Login</button>
</form>
</div>
<div class="container1" >
  <form #student="ngForm">
  <h1 style="color:white;">Student Login</h1><br>
<i class='fas fa-user-alt' style="font-size: 24px;color: white;"></i>&nbsp;&nbsp;&nbsp;
<mat-form-field style="width: 200px;color: white;">
<input type="number" matInput [(ngModel)]="rollNo" placeholder="enter RollNo" name="rollno" required>
</mat-form-field><br>
<i class='fas fa-lock' style="font-size: 24px;color: white;"></i>&nbsp;&nbsp;&nbsp;
<mat-form-field style="width: 200px;color: white;">
<input type="password" matInput [(ngModel)]="password1" placeholder="enter password" name="password" required>
</mat-form-field>
<br><br>
<button class="btn" mat-raised-button  [disabled]="student.invalid" (click)="submit1()">Login</button>
</form>
</div>
</div>
