/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
    background-image: url("./assets/images/food.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
  }
  .container {
    position: absolute;
    right: 0;
    margin: 200px;
    max-width: 300px;
    padding: 16px;
    background-color:rgb(80, 80,100);
  }
  .container1 {
    position: absolute;
    left: 0;
    margin: 200px;
    max-width: 300px;
    padding: 16px;
    background-color:rgb(80, 80,100);
  }
  .btn {
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    left: 50px;
    color:blue;
    background-color:white;
  } 
 
  .mat-form-field-empty.mat-form-field-label {
    color:white;
  }
  .time{
    flex: 1 1 auto;
    margin-left: 250px;
    text-decoration: none;
    color: floralwhite;
  }