/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
    background-image: url("./assets/images/food.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
  }
  .container {
    position: absolute;
    right: 0;
    margin: 200px;
    max-width: 300px;
    padding: 16px;
    background-color:rgb(80, 80,100);
  }
  .container1 {
    position: absolute;
    left: 0;
    margin: 200px;
    max-width: 300px;
    padding: 16px;
    background-color:rgb(80, 80,100);
  }
  .btn {
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    left: 50px;
    
  } 
  
  .btn:hover {
    opacity: 1;
  } 
  ::ng-deep .mat-form-field{
    color:red
}
  .mat-form-field-empty.mat-form-field-label {
    color:white;
  }
  /* .mat-form-field-underline {
    background-color:white;
    color:white;
  } */
 /* .background {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 200%;
    left: -50%;
    position: fixed;
    width: 200%;}

.background img{
    display: block;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}
  
  .text-block {
    text-align: center;
  }  */