<div class="background">
    <div class="container-3">
        <mat-card>
            <mat-card-content>
                <div style="text-align: center;">
                    <h2>Thank you For your feedback for {{duration}}</h2>
                    <p>and Your Token No is </p>
                    <h1>{{appService.getToken()}}</h1>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button style="margin-left: 295px;" mat-button color="primary" (click)="logout()">Next</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>