<div class="background">
    <div class="container-5">
        <form #changePassword="ngForm" (ngSubmit)="changePassword.valid && changePass()" [mustMatch]="['newPassword','conformPassword']" novalidate>
        <mat-card>
            <mat-card-content>
                <mat-form-field style="width:100%" appearance="outline" >
                    <input matInput placeholder="Enter your old password" [(ngModel)]="user.oldPassword" name="oldPassword"
                    [type]="HideOldPassword ? 'password':'text'" autocomplete="off" required #oldPassword="ngModel">
                    <mat-icon matSuffix (click)="HideOldPassword=!HideOldPassword">
                        <i *ngIf='!HideOldPassword' class="fas fa-eye"></i>
                        <i *ngIf='HideOldPassword' class="fas fa-eye-slash"></i> 
                    </mat-icon>
                    <mat-error *ngIf="changePassword.submitted && oldPassword.invalid">
                        <div *ngIf="oldPassword.errors.required">OldPassword Required</div>
                    </mat-error>
                 </mat-form-field><br>
                 <mat-form-field style="width: 100%;" appearance="outline" >
                    <input matInput placeholder="Enter your new password" [(ngModel)]="user.newPassword" name="newPassword"
                    [type]="HideNewPassword ? 'password':'text'"  required #newPassword="ngModel"
                    pattern="(?=.*[!@#$%^&*()])(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,15}">
                    <mat-icon matSuffix (click)="HideNewPassword=!HideNewPassword">
                        <i *ngIf='!HideNewPassword' class="fas fa-eye"></i>
                        <i *ngIf='HideNewPassword' class="fas fa-eye-slash"></i>
                    </mat-icon>
                    <mat-error *ngIf="changePassword.submitted && newPassword.invalid">
                        <div *ngIf="newPassword.errors.required">NewPassword Required</div>
                    </mat-error>
                 </mat-form-field><br>
                 <div style="margin-left: 290px;">
                     <a (click)="flag?(flag=false):(flag=true)" style="cursor: pointer;color: green;"><u> Password Requirements</u> </a>
                 </div><br/>
                 <div *ngIf="flag" style="font-size: 10px;font-weight: 500;">
                    <i><b style="float: left;text-align: left;"><span>--8-15 characters long</span><br/>
                    <span>--contain atleast one lower case and upper case letter</span><br/>
                    <span>--contain atleast one number and one special character ['!','@','#','$','%','^','&','*','(',')']</span>
                    </b></i>

                 </div>

                 <mat-form-field style="width: 100%;" appearance="outline" >
                    <input type="password" matInput placeholder="Enter your conform password" [(ngModel)]="user.confromPassword" name="conformPassword"
                    [type]="HideOldPassword ? 'password':'text'" required #conformPassword="ngModel">
                    <mat-error *ngIf="changePassword.submitted && conformPassword.invalid">
                        <div *ngIf="conformPassword.errors.required">ConformPassword Required</div>
                        <div *ngIf="conformPassword.errors.mustMatch">Password Must Match</div>
                    </mat-error>
                 </mat-form-field>
    
            </mat-card-content>
            <mat-card-actions>
                <button style="margin-left: 200px;" mat-raised-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
    </div>
</div>
