<br>
<form class="center" name="form"  #f="ngForm" >
    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput  name="first" [(ngModel)]="firstname" #first="ngModel" [ngClass]="{ 'is-invalid': f.submitted && first.invalid }"  placeholder="enter name" required >
      </mat-form-field>
      <div *ngIf="f.submitted && first.invalid || first.touched">
        <span class="error" *ngIf="first.errors?.required">firstname is required</span>
    </div><br>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput  name="last" [(ngModel)]="lastname" #mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }"   placeholder="enter mail" required >
      </mat-form-field>
      <div *ngIf="f.submitted && mail.invalid|| mail.touched">
        <div class="error" *ngIf="mail.errors?.required">lastname is required</div>
    </div><br>
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input type="number" matInput  name="AGE" [(ngModel)]="age" #pass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pass.invalid }"  placeholder="enter password" required>
      </mat-form-field>
      <div *ngIf="f.submitted && pass.invalid||pass.touched">
        <div class="error" *ngIf="pass.errors?.required">age is required</div>
    </div><br>

      <button type="submit" [disabled]="f.form.invalid" (click)="sumbit()"  mat-raised-button color="primary">submit</button>
      <button (click)="cancel()" mat-button >Cancel</button>
  </form>
<br><br>
