<div class="background">
    <div class="container-3">
        <mat-card>
            <mat-card-content>
                <h1 style="margin-left: 259px;">Hi {{appService.getStudent()}}</h1>
                <h2 style=" position: relative;
                left: 190px;">Your Ratings for {{duration}}</h2>
                <div style="margin-left: 295px;">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="value">
                        <mat-radio-button value="1">1</mat-radio-button>
                        <br>
                        <mat-radio-button value="2">2</mat-radio-button>
                        <br>
                        <mat-radio-button value="3">3</mat-radio-button>
                        <br>
                        <mat-radio-button value="4">4</mat-radio-button>
                        <br>
                        <mat-radio-button value="5">5</mat-radio-button>
                        <br>
                    </mat-radio-group>
                </div>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button style="margin-left: 295px;" mat-button color="primary" (click)="feedback()">Next</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>