<div class="background1">
    <div class="container-3">
        <mat-card>
            <mat-card-content>
                <h1>Hi {{appService.getStudent()}},</h1>
                <h2>Give Your Food Ratings for {{duration}}</h2>
                <div style="text-align: center;">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="value">
                        <mat-radio-button value="1">Bad</mat-radio-button>
                        <br>
                        <mat-radio-button value="2">Average</mat-radio-button>
                        <br>
                        <mat-radio-button value="3">Ok</mat-radio-button>
                        <br>
                        <mat-radio-button value="4">Good</mat-radio-button>
                        <br>
                        <mat-radio-button value="5">Awesome</mat-radio-button>
                        <br>
                    </mat-radio-group>
                </div>
                <br>
            </mat-card-content>
            <mat-card-actions>
                <button style="margin-left: 295px;" mat-button color="primary" (click)="feedback()">Next</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>